TALENDPROJECT641/services/createRegionService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="createRegion"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="createRegionRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Region" type="tns:RegionType"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createRegionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="RegionType">
				<xsd:sequence>
					<xsd:element name="RegionId" type="xsd:string"></xsd:element>
					<xsd:element name="RegionLabel" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="createRegionFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="createRegionFault"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="createRegionRequest">
		<wsdl:part name="parameters" element="tns:createRegionRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createRegionResponse">
		<wsdl:part name="parameters" element="tns:createRegionResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="createRegionFault">
		<wsdl:part name="parameters" element="tns:createRegionFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="createRegionServicePortType">
		<wsdl:operation name="createRegion">
			<wsdl:input message="tns:createRegionRequest"></wsdl:input>
			<wsdl:output message="tns:createRegionResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:createRegionFault"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="createRegionServiceBinding"
		type="tns:createRegionServicePortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createRegion">

			<soap:operation
				soapAction="http://www.talend.org/service/createRegion" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="createRegionService">
		<wsdl:port name="createRegionServicePort" binding="tns:createRegionServiceBinding">
			<soap:address location="http://localhost:8090/services/createRegionService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>