TALENDPROJECT641/services/getRegionService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="getRegionService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="getRegionServiceByIdRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RegionId" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegionServiceByIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Region" type="tns:RegionType"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegionServiceByIdFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getRegionServiceByIdFault"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="RegionType">
				<xsd:sequence>
					<xsd:element name="RegionId" type="xsd:string"></xsd:element>
					<xsd:element name="RegionLabel" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getRegionServiceByIdRequest">
		<wsdl:part name="parameters" element="tns:getRegionServiceByIdRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegionServiceByIdResponse">
		<wsdl:part name="parameters" element="tns:getRegionServiceByIdResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getRegionServiceByIdFault">
		<wsdl:part name="parameters" element="tns:getRegionServiceByIdFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="getRegionServicePortType">
		<wsdl:operation name="getRegionServiceById">
			<wsdl:input message="tns:getRegionServiceByIdRequest"></wsdl:input>
			<wsdl:output message="tns:getRegionServiceByIdResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:getRegionServiceByIdFault"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="getRegionServiceBinding" type="tns:getRegionServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getRegionServiceById">
			<soap:operation soapAction="http://www.talend.org/service/getRegionServiceById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="getRegionService">
		<wsdl:port name="getRegionServicePort" binding="tns:getRegionServiceBinding">
			<soap:address location="http://localhost:8090/services/getRegionService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>