TALENDPROJECT641/services/getRegionService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="getRegionService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="getRegionServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegionServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getRegionServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:getRegionServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegionServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:getRegionServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="getRegionServicePortType">
		<wsdl:operation name="getRegionServiceOperation">
			<wsdl:input message="tns:getRegionServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:getRegionServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="getRegionServiceBinding" type="tns:getRegionServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getRegionServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/getRegionServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="getRegionService">
		<wsdl:port name="getRegionServicePort" binding="tns:getRegionServiceBinding">
			<soap:address location="http://localhost:8090/services/getRegionService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>